DATABASE_URL=postgresql+asyncpg://user:pass@ep-xxx.neon.tech/neondb?ssl=require
DATABASE_URL_SYNC=postgresql+psycopg2://user:pass@ep-xxx.neon.tech/neondb?sslmode=require
SECRET_KEY=cambia-esto-por-algo-muy-seguro-de-32-chars
ENVIRONMENT=development
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
PORT=8000
FOOTBALL_API_KEY=bb9db39a06e3462b9d3e7a4e7f68cab9
FOOTBALL_API_URL=https://api.football-data.org/v4
SYNC_INTERVAL_MINUTES=5
